window {
  border: 1px solid #928374;
  background-color: #1d2021;
  color: #ebdbb2;
}

#entry:selected { 
  outline: none;  
  background-color: transparent; 
  color: #fe8019;
  font-weight: bold;
}

#input { background-color: transparent; margin-left: 3px; }

#input > image.right { -gtk-icon-transform:scaleX(0); }

#inner-box, #outer-box, #text,  image { margin: 5px; }

#input > image.left { margin-right: 15px; }

#input:focus { box-shadow: none; }
